@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*background:  #071222;*/
  background: #191e29;
  background: radial-gradient(circle, #132d46 0%, rgba(7,18,34,1) 100%);
  color: rgb(236, 236, 236)
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  
}
* {
  font-family:  'Inter', 'Jost', 'Nunito Sans', sans-serif;
  
}
.grey {
  color: rgb(154, 154, 154);
}
.mute {
  color: rgb(210, 210, 210);
}
p {
  font-size: 0.98em;
  /*font-family: "Jost";*/
  /*letter-spacing: 1.06px;*/
  color: rgb(200, 200, 200);
}
header {width: 100%;
  padding: 2em 3em;
  
  backdrop-filter: blur(3px); 
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(44, 44, 44, 0.1);*/
}

.icon {
  border: 1px solid rgba(0, 0, 0, 0);
}

.icon:hover {
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
  backdrop-filter: blur(3px);

}

.heading-lg {
  font-size: 3.7em;
  font-weight: 650;
}
.mute-green {
  color: #01c38d;
}

.heading-grp {
  display: grid;
  grid-template-columns: 8.7em auto;
  gap: 1.4em;
}
 .heading {
  font-family: "Inter";
  width: fit-content;
  font-size: 1.8em;
 }

 .line{
  content: "";
  background: rgba(150, 150, 150, 0.1);
  height: 2px;
  width: 100%;
 }
.socials {
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 1.2em;
  background-color: rgba(8, 8, 8, 0);
  border-radius: 1em;
  height: fit-content;
}
.socials div {
  padding: 0.6em;
  border-radius: 50%;
  cursor: pointer;
}

.socials  div img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
 .mobile {
  display: none;
 }
 .about-me-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;
 }
.coffee-btn {
  font-family: 'Inter';
  padding: 0.5em 1.2em;
  border-radius: 10px;
  border: 2px solid rgb(248, 248, 248);
  color: white;
  text-shadow: #c5c5c5;
}

.tech-stack {
  padding-left: 1.2em;
  padding-right: 1.2em; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.tech-stack > div {
  border-radius: 5px;
  /*max-width: 70vw;*/
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
  backdrop-filter: blur(3px); 
  display: grid;
  place-items: center;
  padding: 1.4em;
  cursor: pointer;
  transition: 80ms ease-in;
}

/*.tech-stack > div:hover {
  scale: 1.02;
}*/
.tech-stack > div > img {
  /*filter: drop-shadow(rgba(15, 15, 15, 0.5) 12px 12px 8px);*/
  height: 70px;
  width: 70px;
}


.project {
  display: flex;
  gap: 3em;
  padding: 1em 1.2em;
  width: 100%;
  margin-bottom: 3em;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project > a > div > img {
  max-width: 400px;
  max-height: 320px;
  border-radius: 10px;
  object-fit: cover;
  border: 1.2px solid rgba(225, 225, 225, 0.1);
  /*filter: sepia(100%) hue-rotate(190deg) saturate(100%);*/

}

.project > div > img:hover {
  filter: none;
}
.project-card {
  background: rgba(140, 140, 240, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 10px 18px 2px 3px;
  /*backdrop-filter: blur(1.8px);*/
  border-radius: 5px;
  padding: 1.2em 1.8em;
  min-width: 150px;
}

.project-stack {
  font-size: 0.85em;
}

.project-stack > p {
  padding: 0.4em 0.8em;
  border: 1px solid rgba(225, 225, 225, 0.2);
  margin-right: 1em;
  margin-top: 1em;
  color: #48cae4;
  border-radius: 5px;
  cursor: pointer;
}

.project-heading-mobile {
    display: none;
  }

  .project-grp {
    width: 70%;
  }
@media screen and (max-width: 1100px) {
  .project-stack {
  font-size: 0.8em;
  margin-right: 0.6em;
}
    .project > a > div > img {
      max-width: 30vw;
    }
}

@media screen and (max-width: 960px) {

  .project-heading-mobile {
    display: block;
  }

  .project-heading-web {
    display: none;
  }
     .project {
    flex-direction: column;
    gap: 1em;
   }
   .project:nth-child(even) {
  flex-direction: column;
}
  .project > a > div > img {
  max-width: 61vw;
  max-height: 320px;
  border-radius: 10px;
  object-fit: cover;
  border: 1.2px solid rgba(225, 225, 225, 0.1);
}

}

@media screen and (max-width: 780px) {
  .heading-lg {
    font-size: 2.6em;
   } 
   .web{
    display: none;
   }
   .mobile {
    display: block;
   }
   .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
   }
   .tech-stack > div {
    width: 130px;
    height: 130px;
   }
   .sidebar {
          position: fixed;
          top: 0;
          right: -280px; /* Start with the sidebar hidden */
          width: 280px;
          height: 100%;
          z-index: 80;
          transition: right 0.3s ease;
          background: #071222;
          color: white;
          /*box-shadow: rgba(50, 50, 50, 0.09) 10px 10px 12px;*/
          /*border-radius: 0 0 0 15px;*/
          border: 2px solid rgba(100, 100, 100, 0.15);
          padding: 2em;
          display: grid;
          place-items: center;
          background: rgba(10, 13, 30, 0.99);
          border-left: 1px solid rgba(225, 225, 225, 0.2);
          box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
          backdrop-filter: blur(1px);

        }

.sidebar > div, .sidebar-item {
  display: grid;
  place-items: center;
  padding: 0.8em 0;
  cursor: pointer;
}
.sidebar > a > div.sidebar-item:hover {
  border-radius: 5px;
  background: rgba(80, 80, 80, 0.18);
}
.sidebar > div:first-child {
  padding: 0;
}
        .sidebar.open {
          right: 0; /* Slide in when 'open' class is present */
        }

        .sidebar > div:last-child {
          display: flex;
          gap: 1.8em;
        }



}
@media screen and (max-width: 720px) {
  .about-me-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 2em;
   }

   .tech-stack > div {
    width: 100px;
    height: 100px;
    padding: 0.2em;
    font-size: 0.85em;
   }

   .tech-stack > div > img {
    height: 30px;
    width: 30px;
   }
}
@media screen and (max-width: 520px) {
  .mobile {
    display: block;
  }
  .heading-lg {
    font-size: 2em;
   }

   .tech-stack {
  padding-left: 0;
  padding-right: 0;
  } 

  .project > a > div > img {
  max-width: 100%;
  max-height: 320px;
  border-radius: 10px;
  object-fit: cover;
  border: 1.2px solid rgba(225, 225, 225, 0.1);
}

.project-grp {
  width: 95%;
}

.project-card {
  padding: 1em 1.2em;
  font-size: 0.9em;
}

.project-stack > p {
  font-size: 1em;
}

.project-grp > .heading {
  margin-left: 0.8em;
} 

  }

