@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*background:  #071222;*/
  background: rgb(19,48,125);
  background: radial-gradient(circle, rgba(19,48,125,1) 0%, rgba(7,18,34,1) 100%);
  color: rgb(236, 236, 236)
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  
}
* {
  font-family:  'Inter', 'Jost', 'Nunito Sans', sans-serif;
  
}

p {
  font-size: 1.08em;
  font-family: "Jost";
  letter-spacing: 1.06px;
}
header {width: 100%;
  padding: 2em 3em;
  
  backdrop-filter: blur(3px); 
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(44, 44, 44, 0.1);*/
}

header > nav > ul > a > li {
  border: 1px solid rgba(0, 0, 0, 0);
}
header > nav > ul > a > li:hover {
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
  backdrop-filter: blur(3px);

}

.heading-lg {
  font-size: 3.6em;
  font-weight: 650;
}

.heading-grp {
  display: grid;
  grid-template-columns: 8.7em auto;
  gap: 1.4em;
}
 .heading {
  font-family: "Inter";
  width: fit-content;
  font-size: 1.8em;
 }

 .line{
  content: "";
  background: rgba(150, 150, 150, 0.1);
  margin: auto;
  height: 2px;
  width: 100%;
 }
.socials {
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 1.2em;
  background-color: rgba(8, 8, 8, 0);
  border-radius: 1em;
  height: fit-content;
}
.socials div {
  padding: 0.7em;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.socials div:hover {
  /*background: rgba(151, 151, 151, 0.26);*/
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
  backdrop-filter: blur(3px);
} 
.socials  div img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
 .mobile {
  display: none;
 }
 .about-me-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;
 }
.coffee-btn {
  font-family: 'Inter';
  padding: 0.5em 1.2em;
  border-radius: 10px;
  border: 2px solid rgb(248, 248, 248);
  color: white;
  text-shadow: #c5c5c5;
}

.tech-stack {
  padding-left: 1.2em;
  padding-right: 1.2em; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.tech-stack > div {
  border-radius: 5px;
  /*max-width: 70vw;*/
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: rgba(15, 15, 15, 0.12) 12px 20px 8px 6px;
  backdrop-filter: blur(6px); 
  display: grid;
  place-items: center;
  padding: 1.4em;
  cursor: pointer;
}
.tech-stack > div > img {
  filter: drop-shadow(rgba(15, 15, 15, 0.5) 12px 12px 8px);
  height: 70px;
  width: 70px;
}

.sidebar {
          position: fixed;
          top: 0;
          right: -250px; /* Start with the sidebar hidden */
          width: 250px;
          height: 70%;
          z-index: 80;
          transition: right 0.3s ease;
          background: #071222;
          color: white;
          /*box-shadow: rgba(50, 50, 50, 0.09) 10px 10px 12px;*/
          border-radius: 0 0 0 15px;
          border: 2px solid rgba(100, 100, 100, 0.15);
          padding: 2em;
          display: grid;
          place-items: center;
        }

.sidebar > div {
  display: grid;
  place-items: center;
  padding: 0.8em 0;
  cursor: pointer;
}
.sidebar > div.sidebar-item:hover {
  border-radius: 5px;
  background: rgba(80, 80, 80, 0.18);
}
.sidebar > div:first-child {
  padding: 0;
}
        .sidebar.open {
          right: 0; /* Slide in when 'open' class is present */
        }


@media screen and (max-width: 720px) {
  .heading-lg {
    font-size: 2.6em;
   } 
   .web{
    display: none;
   }
   .mobile {
    display: block;
   }
   .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
   }
   .tech-stack > div {
    width: 130px;
    height: 130px;
   }
   
}
@media screen and (max-width: 720px) {
  .about-me-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 2em;
   }

   .tech-stack > div {
    width: 100px;
    height: 100px;
    padding: 0.2em;
    font-size: 0.85em;
   }

   .tech-stack > div > img {
    height: 30px;
    width: 30px;
   }
}
@media screen and (max-width: 520px) {
  .mobile {
    display: block;
  }
  .heading-lg {
    font-size: 2em;
   }

   .tech-stack {
  padding-left: 0;
  padding-right: 0;
  } 

  }

